body {
    font-family: 'Tahoma', Segoe UI, Geneva, Verdana, sans-serif;
   
}

.logo {
    width: 500px;
    height: 500px;
    overflow: hidden;
    text-align: center;
}

.heading {
    text-align: center;
}

div{
    text-align: center;
}

.rules {
    background-color: orange;
}

.results {
    display: inline-block;
    padding: 25px;
    font-size: 1.5em;
}

#result {
    color: green;
}

#losses {
    color: red;
}

.options_selection{
    transition: transform (.2s);
    display:inline-block
}

.options_selection:hover {
    transform: scale(1.2);
    opacity: .7;
}


   footer{
       text-align: center;
   }

   .outcome {
       font-size: 2em;

   }

   .options{
       text-align: center;
       display: inline-block;
   }

   label{
       height: auto;
       width: auto;
       padding: 0;
       border: none;
       background: none;
       display: inline-block;
   }

   input{
       display:none;
   }

.wrapper img{
    .logo-image img{
        width: 200px;
        height: 75px;
        overflow: hidden;
    }
}