body {
    font-family: 'Tahoma', Segoe UI, Geneva, Verdana, sans-serif;
   
}

.logo {
    width: 500px;
    height: 500px;
    overflow: hidden;
    text-align: center;
}

.heading {
    text-align: center;
}

div{
    text-align: center;
}

.rules {
    background-color: orange;
}

.results {
    display: inline-block;
    padding: 25px;
    font-size: 1.5em;
}

#result {
    color: green;
}

#losses {
    color: red;
}

.options {
    transition: transform .2s;
}

.options:hover {
    transform:scale(1.5);
}
    
